= render 'header'

%br

= "スレッドタイトル：#{@topic.title}"

.messages-list
  %ul
    - @messages.each do |message|
      %li.messages-list__content
        = message.user.name
        %br
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
        %br
        = safe_join(message.text.split("\n"),tag(:br))
        %br

%br

.message-form
  .message-form__title
    投稿入力フォーム
  .message-form__form
    = form_with(model: @message, url: "/topics/#{@topic.id}/messages", local: true, method: :post) do |f|
      = render "devise/shared/error_messages", resource: @message

      = f.text_area :text, autofocus: true, autocomplete: "text", placeholder: "メッセージを入力してください" ,class: ''

      .message-form__form__actions
        = f.submit "投稿する", class: 'submit-button'